.idea/*
.ipynb_checkpoints/*
*.pyc
!.gitkeep
data/*
logs/*
tf_logs/*
venv/*
models/*
data_latent/*
plots_ae/*
csv/*
results/*
graphs/*
embeddings/*
tsne_embeddings/*
tf_tsne/*
tsnes/*
tsne-cuda/*
vada_tsne/*
images/*
xyz/*
xtras/*
data_tl/*
models_resnet18/*
tf_logs_bkup/*
all_to_df/*
models_FT/*
models_vae_ae/*